* { box-sizing: border-box; }
html, body {
	padding: 0;
	margin: 0;
	background: #34495e;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.clear {
  clear: both;
}
.container {
  padding: 0 25px;
}
.trigger {
	width: 100px;
	padding: 20px 0;
	text-align: center;
	background: #2ecc71;
	margin: 10px;
	border-radius: 5px;
	float: left;
	font-size: 18px;
  border: 1px solid #fff;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
}
#offToggle {
	background-color: #e74c3c;
}
#modulate {
	background-color: #3498db;
}
form {
	clear: both;
	margin: 10px;
	input[type="range"] {
		display: block;
	}
}
#mod, label[for="mod"], #modFreq, label[for="modFreq"] {
	display: none;
	&.show {
		display: block
	}
}
#freq, label[for="freq"] {
  &.hide {	
	display: none;
  }
}
input[type="range"] {
    -webkit-appearance: none;
    background-color: #3498db;
    width: 200px;
    height:20px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #fff;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #e74c3c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
//Keyboard
#keyboard {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 35px 0 0 10px;
  display: inline-block;
  //border-top: 10px solid brown;
  li {
  	float: left;
  	width: 50px;
  	height: 100px;
  	background: #fff;
  	border-right: 1px solid #000;
  	cursor: pointer;
  	border-radius: 3px;
  	border-top-left-radius: 0px;
  	border-top-right-radius: 0px;
  	//box-shadow: 0.5px 1px 0 #ddd;
  	&:hover {
  		opacity: 0.75;
  	}
  	&.sharp {
  		width: 30px;
  		height: 60px;
  		background: #000;
  		position: absolute;
  		z-index: 5;

  		&.first {
  			left: 35px;
  		}
  		&.second {
  			left: 85px
  		}
  		&.third {
  			left: 185px;
  		}
  		&.fourth {
  			left: 235px;
  		}
  		&.fifth {
  			left: 285px;
  		}
  	}
  }
}
.wave-button {
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
}



