/* line 1, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 2, ../sass/style.scss */
html, body {
  padding: 0;
  margin: 0;
  background: #34495e;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

/* line 9, ../sass/style.scss */
.container {
  padding: 0 25px;
}

/* line 12, ../sass/style.scss */
.trigger {
  width: 100px;
  padding: 20px 0;
  text-align: center;
  background: #2ecc71;
  margin: 10px;
  border-radius: 5px;
  float: left;
  font-size: 18px;
  border: 1px solid #fff;
  cursor: pointer;
}

/* line 25, ../sass/style.scss */
#offToggle {
  background-color: #e74c3c;
}

/* line 28, ../sass/style.scss */
#modulate {
  background-color: #3498db;
}

/* line 31, ../sass/style.scss */
form {
  clear: both;
  margin: 10px;
}
/* line 34, ../sass/style.scss */
form input[type="range"] {
  display: block;
}

/* line 38, ../sass/style.scss */
#mod, label[for="mod"], #modFreq, label[for="modFreq"] {
  display: none;
}
/* line 40, ../sass/style.scss */
#mod.show, label[for="mod"].show, #modFreq.show, label[for="modFreq"].show {
  display: block;
}

/* line 45, ../sass/style.scss */
#freq.hide, label[for="freq"].hide {
  display: none;
}

/* line 49, ../sass/style.scss */
input[type="range"] {
  -webkit-appearance: none;
  background-color: #3498db;
  width: 200px;
  height: 20px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #fff;
}

/* line 60, ../sass/style.scss */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* line 70, ../sass/style.scss */
#keyboard {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 35px 0 0 10px;
}
/* line 75, ../sass/style.scss */
#keyboard li {
  float: left;
  width: 50px;
  height: 100px;
  background: #fff;
  border-right: 1px solid #000;
  cursor: pointer;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
/* line 86, ../sass/style.scss */
#keyboard li:hover {
  opacity: 0.75;
}
/* line 89, ../sass/style.scss */
#keyboard li.sharp {
  width: 30px;
  height: 60px;
  background: #000;
  position: absolute;
  z-index: 5;
}
/* line 96, ../sass/style.scss */
#keyboard li.sharp.first {
  left: 35px;
}
/* line 99, ../sass/style.scss */
#keyboard li.sharp.second {
  left: 85px;
}
/* line 102, ../sass/style.scss */
#keyboard li.sharp.third {
  left: 185px;
}
/* line 105, ../sass/style.scss */
#keyboard li.sharp.fourth {
  left: 235px;
}
/* line 108, ../sass/style.scss */
#keyboard li.sharp.fifth {
  left: 285px;
}
